body {
  background-color: hsl(212, 45%, 89%);
}
.qrwrapper {
  /*width: 15%;*/
  max-width: 300px;
  width: 100%;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}
.qrwrapper img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.qrwrapper h3 {
  font-weight: 700;
}
.qrwrapper p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
.qrwrapper * {
  margin: auto;
}


